*, *:before, *:after {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

body {
    margin: 0 auto;
}

.calculator {
    background-color: #4D5064;
    border-radius: 1em;
    margin: 3em auto;
    padding: 1em;
    width: 350px;
}

.name {
    color: white;
    float: left;
    font-family: 'Kaushan Script';    
    font-weight: normal;
    margin: 0;
}

.power {
    border: 1px solid #393C49;
    float: right;
}

.power span {
    background-color: #3F312F;
    border: 1px solid #000;
    float: left;
    height: 35px;
    width: 20px;
}

.outer-display {
    background-color: #5D617B;
    border: 1px solid #393C49;
    border-radius: 1em;
    margin: 1em 0;
    min-height: 60px;
}

.inner-display {
    background-color: #D3D4DC;
    border: 1px solid #393C49;
    border-radius: 4px;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .5), inset -2px -2px 6px rgba(255,255,255,.5);
    margin: .8em;
    min-height: 50px;
}

.operators {
    float: left;
    padding: .25em;
}

.operators span {
    color: #666;
    display: block;
    font-size: .8em;
    font-weight: bold;
    line-height: 1;
    text-align: center;
}

.operators span.red {
    color: red;
}

.display-numbers {
    float: right;
    line-height: 1;
    padding: .25em;
}

.display-numbers span {
    font-size: 3.3em;
    font-family: "Play", Arial;
}


.btn {
    border-radius: .2rem;
    box-shadow: 2px 2px rgba(0,0,0,.6);
    color: white;
    display: inline-block;
    float: left;
    font-family: 'Courgette';    
    font-size: 2rem;
    line-height: 1;
    margin: .4rem;
    margin-left: .2rem;
    text-align: center;
    text-decoration: none;
    width: calc(25% - .8rem);
}

.btn-purple {
    background-color: #A575C2;
    float: right;
    font-size: 1.5rem;
    padding: .3em;
}

.number-pad .btn {
    background-color: #8D93B7;
    height: 60px;
    padding: .5em;
}

.number-pad .btn:active, .btn-purple:active {
    box-shadow: none;
    transform: translate3d(2px, 2px, 0);
}

.number-pad .btn:nth-child(4n) {
    background-color: #2C2E35;
    margin-left: 1rem;
    width: calc(25% - .8rem);
}

.number-pad .btn:nth-last-child(2) {
    background-color: #2C2E35;
}






